.navigation-wrapper {
  position: relative;
  top: 50%;
}

.dots1 {
  display: flex;
  margin-top: 180px;
  justify-content: center;
  flex-direction: column;
}

.dot1 {
  display: inline-block;
  border: none;
  width: 5px !important;
  height: 50px;
  background: #f8f6f3;
  border-radius: 5px;
  cursor: pointer;
}

.dot1:focus {
  outline: none;
}

.dot1.active {
  background: #c19d68;
}
