/* Google Fonts Link */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

/* Tailwind  layer configure */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* container code */
.Container {
  @apply w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1330px]  px-2 md:px-3 lg:px-4 xl:px-5 mx-auto;
}
.subContainer {
  @apply w-full  md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1330px]  px-2 md:px-3 lg:px-4 xl:px-5 mx-auto;
}
.Container-Hero {
  @apply w-full sm:w-[540px] md:w-[720px] xl:w-[960px] 2xl:w-[1100px]  3xl:w-[1250px]  px-2 md:px-3 lg:px-4 xl:px-5 mx-auto;
}

/* primary button */
.btn-primary {
  @apply h-[56px] w-[145px] 2xl:w-[165px] bg-khaki relative before:w-8 before:h-[1px] before:bg-khaki before:absolute before:left-0 before:top-16 text-white uppercase text-base font-medium  font-Garamond;
}

.btn-secondary {
  @apply border border-white w-[145px] sm:w-[155px] lg:w-[170px] 2xl:w-[185px] 3xl:w-[192px] h-[48px] relative before:w-8 before:h-[1px] before:bg-white before:absolute before:left-0 before:top-14 text-white uppercase text-base font-medium font-Garamond;
}
.btn-items {
  @apply border border-lightBlack dark:border-white  w-[145px] sm:w-[155px] lg:w-[170px] 2xl:w-[185px] 3xl:w-[192px] h-[48px] relative before:w-8 before:h-[1px] before:bg-lightBlack dark:before:bg-white before:absolute before:left-0 before:top-14 text-lightBlack dark:text-white uppercase text-base font-medium font-Garamond;
}
.btn-subscribe {
  @apply h-[56px] bg-khaki w-full text-white uppercase text-base font-medium  font-Garamond;
}

/* video animation */
.video-animation {
  animation: ripple 1.6s ease-out infinite;
}

@keyframes ripple {
  0%,
  35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* Move animation */
.animation-move {
  animation: MOVE-BG 3s infinite ease alternate;
}

/* slider responsive */

@keyframes MOVE-BG {
  from {
    transform: translateX(-2px);
  }
  to {
    transform: translateX(540px);
  }
}

/* Home two some code */
